.sideBar {
  height: 100%;
  width: 98%;
  box-shadow: 0px 6px 0px 0px rgb(32 33 36 / 28%);
}
.newPost {
  color: #000;
}

.postDetails {
  height: 45vh;
  border-left: 1px solid #000;
}
.accountDetails {
  background-color: #a4508b;
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
}
.adminRigth,
.accountDetails h3 {
  padding: 1em;
  color: #fff;
}
.stepsContent {
  margin-top: 1em;
}
.helper {
  font-size: small;
  color: red;
}
.signin {
  display: flex;
  justify-content: center;
  text-align: justify;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.details {
  padding: 1em;
  background-color: green;
}
.loading {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
}

div.public-DraftEditor-content {
  height: 80vh;
  overflow-y: scroll;
}

.save {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
.save button,
.save-sm button {
  background-color: #692856;
  border: none;
  color: white;
  width: 20%;
  cursor: pointer;
}
/* .save button:hover {
  background-color: #692856;
  color: #fff;
} */
/* .view {
  color: #a4508b;
}
.view:hover {
  color: #5f0a87;
} */
.ant-form label {
  color: #fff;
}

.helper {
  color: red;
  color: #251320;
}
.ant-col-16 {
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}

.signin-banner img {
  width: 70%;
}

.article-heading {
  text-align: center;
}
.rdw-editor-main {
  box-shadow: 3px 1px 6px 4px rgb(32 33 36 / 28%);
  padding: 1em;
}
.menu-sm {
  display: none;
}
.save-sm {
  display: none;
}
.menu-sm button{
  background-color: #692856;
  color: #fff;
}

@media screen and (max-width: 567px) {
  body{
    font-size:16px;
  }
  .save button {
    display: none;
  }
  .save {
    display: none;
  }
  .save-sm {
    display: block;
    width: 20%;
  }
  .menu-sm {
    display: block;
  }
  .save-sm button {
    width: 100%;
  }
  .navs-sm {
    display: flex;
    justify-content: space-between;
  }
  .rdw-editor-toolbar {
    font-size: 12px !important;
  }
  .rdw-option-wrapper {
    height: 10px !important;
  }
  div.public-DraftEditor-content {
    width: 100%;
    overflow-y: scroll;
  }
  .rdw-editor-wrapper {
    height: 80vh;
    overflow-y: scroll;
  }
  .article-heading {
    text-align:none;
    font-size:16px;

  }
  .create-artice-btn-sm {
    display:block;

  }
  
}
