
.page {
  height: 100vh;
}

.sideBar {
  height: 100%;
  width: 98%;
}
.newPost {
  color: #000;
}

.postDetails {
  height: 45vh;
  border-left: 1px solid #000;
}
.accountDetails {
  background-color: #a4508b;
  color: #fff;
  border-radius: 0.5em;
  padding: 1em;
}
.adminRigth,
.accountDetails h3{
  padding: 1em;
  color: #fff;
}
.stepsContent {
  margin-top: 1em;
}
.helper {
  font-size: small;
  color: red;
}
.signin {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: justify;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.details {
  padding: 1em;
  background-color: green;
}
.loading {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 70vh;
}
.save {
  display: flex;
  justify-content: center;
}
.save button {
  background-color: #692856;
  border: none;
  color: white;
  width: 20%;
  cursor: pointer;
}
.save button:hover {
  background-color: #692856;
  color: #fff;
}
.view {
  color: #a4508b;
}
.view:hover {
  color: #5f0a87;
}
.ant-form label {
  color: #fff;
}

.helper{
  color: red;
  color: #251320;
}
.ant-col-16{
  border-right: 1px solid #000;
  border-left: 1px solid #000;

} 

.signin-banner img{
  width: 70%;
}