.page {
  height: 100vh;
}

.sideBar {
  height: 100%;
  width: 200px;
}
.newPost {
  color: #000;
}

.postDetails {
  height: 45vh;
}
.accountDetails {
  background-color: #a4508b;
  color: #fff;
  border-radius: 0.5em;
  padding: 0.5em;
}
.adminRigth,
.accountDetails h3 {
  background-color: #a4508b;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  padding: 1em;
  color: #fff;
}
.stepsContent {
  margin-top: 1em;
}
.helper {
  font-size: small;
  color: grey;
}
.signin {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: justify;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.details {
  padding: 1em;
  background-color: green;
}
.loading {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 2rem;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 70vh;
}

.save {
  display: flex;
  justify-content: center;
}
.save button {
  background-color: #5f0a87;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  width: 20%;
}
.save button:hover {
  background-color: #a4508b;
  color: #fff;
}
.view {
  color: #a4508b;
}
.view:hover {
  color: #5f0a87;
}
.ant-form label {
  color: #fff;
}
